{% include 'base.html'%}

{% block content %}

<br>

<div class="container">

    <!-- News jumbotron -->
    <div class="jumbotron text-center hoverable p-4">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 offset-md-1 mx-3 my-3">

                <!-- Featured image -->
                <div class="view overlay">
                    {% if user.profile_pic_path %}

                    <img src="{{url_for('static',filename=user.profile_pic_path)}}" class="img-fluid"
                        alt="Profile Image">

                    {%else%}

                    <h5>You Have Not Set Any Profile Picture ! Choose File Then Submit.</h6>

                        {% endif %}

                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-7 text-md-left ml-3 mt-3">

                <!-- Excerpt -->
                <a href="#!" class="teal-text">
                    <h2 class="h6 pb-1"><i class="fas fa-user-cog"></i> {{user.username| capitalize}} </h2>
                </a>

                <h4 class="h4 mb-4" style='text-decoration:underline;'>My Bio</h4>

                {% if user.bio %}

                <p class="font-weight-normal">{{user.bio| capitalize}}</p>
                {% else %}
                <p class="font-weight-normal">You have No Bio.</p>

                {% endif %}

                <a href="{{url_for('main.update_bio',uname=user.username)}}" class="btn btn-success">Edit Bio</a>
                <a href="{{url_for('main.new_blog',uname=user.username)}}" class="btn btn-success">New Blog</a>
                <br>
                {% if user == current_user %}

                <div>
                   <br>
                    <h5>Update Profile Picture </h5>
                    <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
                        enctype="multipart/form-data">
                        <input type="file" name="photo" class="form-group" required><br>
                        <input class='form-group btn btn-secondary ' type='submit'>
                    </form>
                </div>
                {% endif %}
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- News jumbotron -->

    <h2 style="margin-left: 35%;"><strong>My Blogs</strong></h2>
    {% if current_user %}
    {% for items in blog[::-1] %}

    <div class="container">
        <div class='row'>
            <div class='col-sm-9 col-md-10 col-lg-10'>

                <!-- Card -->
                <div class="card card-cascade wider text-center" style="background-color: rgb(141, 133, 133);">

                    <!-- Card image -->
                    <div>

                        <!-- Title -->
                        <h4 class="card-header-title mb-3 ml-3" style="margin-top: 15px;"><strong>{{items.title}}</strong></h4>
                        <!-- Text -->
                        <p class="mb-0 ml-3"><i class="fas fa-calendar mr-2"></i>{{items.posted.strftime('%Y-%m-%d')}}
                        </p>

                    </div>
                    <hr style="border-top: 1px solid rgb(83, 79, 79);">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade">

                        <!-- Text -->
                        <h5 class="text-dark ml-1">{{items.blog}}</h5>
                        <!-- Link -->
                        <a href="{{url_for('main.new_comment', blog_id = items.id)}}"
                            class="purple-text d-flex flex-row-reverse p-2">
                            <h6 class="waves-effect waves-light">Comments<i class="far fa-comments ml-2"></i></h6>
                        </a>

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

            </div>
        </div>
    </div>
    <br>
    {% else%}

    <h4 class='text-center'>You haven't posted a Blog </h4>

    {% endfor %}
    {% endif %}
</div>

{% endblock %}